body {
	margin: 0;
	background: #FAF2D6;
}
a {
	text-decoration: none;
	color: white;
	font-family: "Arial", sans-serif;
}
.inner-header {
	height: 160px;
	color: white;
	max-width: 100%;
	background: #82b8a9;
	background-image: url(img/header1.jpg); 
	margin-bottom: 30px;
	font-family: "Arial", sans-serif;
}
.inner-header ul {
	list-style-type: none;
}
.main-cont {
	display: table;
	border-collapse: separate;
	border-spacing: 15px 0;
	margin-bottom: 30px;
}
.container {
	display: table-row;
}

.inner-section {
	background: #82b8a9;
	width: 1400px;
}

aside {
	background: #82b8a9;
	width: 395px;
	font-family: "Arial", sans-serif;
}

.inner-section, aside {
	display: table-cell;
	padding: 30px;
	min-height: 1000px;
	border-radius: 10px;
}

.inner-footer {
	background: #82b8a9;
	height: 100px;
	text-align: center;
	text
}
.menu a {
	color: #FAF2D6;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	list-style-position: inside;
	font: 20px "Arial", sans-serif;
	padding: 10px;
}
.menu li{
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
	float: right;
}
.menu li:hover {
	background: #82b8a9;
}

.term {
	font-size: 18px;
	font-family: "Arial", sans-serif;
}
.desc {
	font-size: 14px;
	font-family: "Arial", sans-serif;
	font-style: italic;
}
h3 {
	font-size: 24px;
	font-family: "Arial", sans-serif;
}
h1 {
	text-align: center;
}